*{
    font-family: "Poppins", sans-serif;
}
.TaskTeste{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #27e420;
    z-index: 1000;
}
html, body{
    margin:0px;
    padding: 0px;
}
nav{
    width: 100%;
    height: 40px;
    display: flex;
    position: fixed;
    -webkit-app-region: drag;
    z-index: 1000;
}
nav>div{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 10px;
    margin-left: 10px;
}
.Closer{
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: block;
    background: linear-gradient(180deg, #da3b3b 0%, #fb3535 100%);
    background-blend-mode: normal;
}
.Expander{
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: block;
    background: linear-gradient(180deg, #f5b14b 0%, #fad945 100%);
    background-blend-mode: normal;
}
.Minimize{
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: block;
    background: linear-gradient(180deg, #8dd22c 0%, #27e420 100%);
    background-blend-mode: normal;
}
main{
    display: flex;
    flex-direction: row;
}

/* Side Bar Content*/
.Side-bar{
    display: flex;
    width: 265px;
    height: 100vh;
    background: #292929;
    align-items:center;
    flex-direction: column;
}
.Tittle-tarefas{
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 30px;
    margin-top: 60px;
    align-items: center;
    gap: 10px;
    border-bottom: 4px solid #BDBDBD ;
}
.Tittle-tarefas img{
    width: 32px;
    height: 32px;
}

/*Dynamic Divs*/
.Tasks{
    width: 210px;
    height: 350px;
    margin-top: 30px;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
.Tasks::-webkit-scrollbar {
    display: none;
}
.Tasks div>div{
    width: 210px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
}
.Tasks div>h1{
    color: #B2B2B2;
    font-weight: 500;
    font-size: 20px;
}
.Tasks section{
    width: 100%;
    height: 80px;
    margin-top: 10px;
    border-radius: 11px;
    display: none;
    align-items: center;
    flex-direction: column;
    background: #333333;
}
.Tasks section.active{
    display: flex;
}
.Tasks div>h1.active{
    border-bottom: 4px solid#FF7E39 ;
}
.Tasks section>div{
    display: flex;
    width: 210px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: transparent;
}
.Tasks section>div img{
    width: 25px;
    margin-left: 10px;
}
.Tasks section>div>h1{
    display: flex;
    gap: 10px;
    font-size: 16px;
    flex-direction: row;
}
.Tasks section>div a{
    line-height: 10px;
    margin-right: 20px;
}

/*Main Content*/
.Main-content{
    display: flex;
    flex-direction: column;
    width: 815px;
    flex: 1;
    height: 100vh;
    background: #1F1F1F;   
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.Tittle-cdx{
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 60px;
    font-style: normal;
    color: white;
    font-size: 30px;
}
.Cronometer{
    background: #4B4B4B;
    width: 695px;
    height: 140px;
    border-radius: 11px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Cronometer h1{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 90px;
}
.Cronometer a{
    position: fixed;
    margin-left: 555px;
    background: #292929;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 11px 11px 0px;
}
.Cronometer a>img{
    margin-left: 10px;
}
.Name-bar{
    background: #4B4B4B;
    width: 695px;
    height: 45px;
    border-radius: 11px;
    border-bottom: 2px solid #939393;
    border-right: 1px solid #939393;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Name-bar h1{
    font-family: Poppins;
    color: rgb(180, 180, 180);
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}
.Input-name{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
}
.Input-name input{
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    color: white;
    width: 350px;
    font-size: 28px;
    border-bottom:  3px solid #BDBDBD;
}